
@{
    ViewData["Title"] = "ApplyForm";
}

<html>
<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for all buttons */
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: auto;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
            border-radius: 10px;
        }

            button:hover {
                opacity: 1;
            }

        /* Extra styles for the cancel button */
        .cancelbtn {
            padding: 14px 20px;
            background-color: #f44336;
        }

        /* Float cancel and signup buttons and add an equal width */
        .cancelbtn, .signupbtn {
            float: none;
            width: 50%;
        }

        /* Add padding to container elements */
        .container {
            padding: 16px;
            max-width: 500px;
        }

        /* Clear floats */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<body>

    <form asp-controller="Home" asp-action="Apply" method="post" style="border:1px solid #ccc">
        <div class="container">
            <h1>Apply Form</h1>
            <p> Fill this form to apply for University</p>
            <hr>

            <label for="Name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="Name" required>
            <br />

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <br />

            <label for="Contact no"><b>Contact</b></label>
            <input type="text" placeholder="Enter Phone no" name="contact" required>
            <br />

            <label for="Intersted Major"><b>Intersted Major</b></label>
            <input type="text" placeholder="Intersted Major" name="InterestedMajor" required>
            <br />

            <label for="University"><b>University</b></label>
            <input type="text" placeholder="University" name="University" required>
            <br />


            <label>
                <input type="checkbox" checked="checked" name="Agree to terms and Conditions" style="margin-bottom:15px"> Agree to terms and Conditions
            </label>

            <div class="clearfix text-center">

                <button type="submit" class="Submit">Submit</button>
            </div>
        </div>
    </form>

</body>
</html>

