<head>
    <style>


        .Home {
            text-decoration: none;
            display: initial;
            padding: 10px 20px;
            color: black;
            text-align: center;
            font-size: 20px;
            font-family: calibri;
            background-color: orangered;
            color: seashell;
            <button type="button" class="btn btn-primary">Default</button>
        }


      

        h1 {
            color: white;
        }
    </style>
</head>


<div class="text-center">
    <br />
    <br />
    <h1>
        Get Access to Nutrition and obesity data all oer the country at one place!!!
    </h1>
    <br />
    <br />

    <a class="Home" asp-controller="Home" asp-action="Explore">Explore</a>
</div>